<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login_1</servlet-name>
        <servlet-class>Login_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_2</servlet-name>
        <servlet-class>Register_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Gateway</servlet-name>
        <servlet-class>Admin_Gateway</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Gateway</servlet-name>
        <servlet-class>User_Gateway</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Panel</servlet-name>
        <servlet-class>Admin_Panel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Panel</servlet-name>
        <servlet-class>User_Panel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mod_Panel</servlet-name>
        <servlet-class>Mod_Panel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ban_A</servlet-name>
        <servlet-class>Ban_A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unban_A</servlet-name>
        <servlet-class>Unban_A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Promote_A</servlet-name>
        <servlet-class>Promote_A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demote_A</servlet-name>
        <servlet-class>Demote_A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_A</servlet-name>
        <servlet-class>Delete_A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_A</servlet-name>
        <servlet-class>Search_A</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_M</servlet-name>
        <servlet-class>Search_M</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ban_M</servlet-name>
        <servlet-class>Ban_M</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unban_M</servlet-name>
        <servlet-class>Unban_M</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_1</servlet-name>
        <url-pattern>/Login_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_2</servlet-name>
        <url-pattern>/Register_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Gateway</servlet-name>
        <url-pattern>/Admin_Gateway</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Gateway</servlet-name>
        <url-pattern>/User_Gateway</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Panel</servlet-name>
        <url-pattern>/Admin_Panel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Panel</servlet-name>
        <url-pattern>/User_Panel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mod_Panel</servlet-name>
        <url-pattern>/Mod_Panel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ban_A</servlet-name>
        <url-pattern>/Ban_A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unban_A</servlet-name>
        <url-pattern>/Unban_A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Promote_A</servlet-name>
        <url-pattern>/Promote_A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demote_A</servlet-name>
        <url-pattern>/Demote_A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_A</servlet-name>
        <url-pattern>/Delete_A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_A</servlet-name>
        <url-pattern>/Search_A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_M</servlet-name>
        <url-pattern>/Search_M</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ban_M</servlet-name>
        <url-pattern>/Ban_M</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unban_M</servlet-name>
        <url-pattern>/Unban_M</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
